.header {
  background-color: rgba(0, 0, 0, 0.6)!important;
  padding: 0 20px 0 20px;
 a{
   text-decoration: none;
 }

  .searchbutton {
    background: linear-gradient(to right, #3229ff, #7c34fe, #a844fe, #ca57fe, #e66dff) !important;
  }

.clearbutton{
  background: linear-gradient(to right, #e66dff, #ff52d1, #ff3ea2, #ff3c74, #ff4a4a) !important;
}
 }


.anchor {
  padding-top: 6px;
  text-align: center;
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0px !important;

}

//.form-inline {
//  width: 100%;
//}