.listing {
  background: white;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  height: 95%;
  border-radius: 5px;
}


.listings{


}

.listingImg{
  width: 100px;
  height: 100px;

  img{
    width: 100px;
    height: 100px;
  }
}

.restName, .restAddress, .foodType, .menuTime, .dayMenuHeader {
  padding-bottom: 10px;
}

.restName{
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
}

.foodFromMenu {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
}

.extra {
  font-size: 0.7rem;

  ul{
    padding-left: 0px;
  }
  li {
    list-style-type: none;
  }
}

