.listing {
  background: white;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  height: 95%;
  border-radius: 5px;
}

.loading {
  background: white;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;

}

.rating {
  padding-top: 8px;
}


.fa-star{
  color: #FC5C7D90;
}

.coloredBorder{
  height: 100%;
  width: 100%;
  padding: 8px;
  border: solid 1px #FC5C7D90;
  border-radius: 5px;
  background: white;

}

.listingImg{
  width: 100px;
  height: 100px;

  img{
    width: 100px;
    height: 100px;
  }
}

.restName, .restAddress, .foodType, .menuTime, .dayMenuHeader {
  padding-bottom: 10px;
}

.restName{
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
}

.foodFromMenu {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
}

.extra {
  font-size: 0.7rem;

  ul{
    padding-left: 0px;
  }
  li {
    list-style-type: none;
  }
}

.hoveredElement {
  background-color: #FC5C7D90;
}

