.fixedMap {
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 500;

}

.map {
  border-radius: 5px;
}

.userIcon {
  color: #FC5C7D90;
  text-decoration-color: #FC5C7D90;
}

.mapComponent {
  height: 10px;
  cursor: pointer;
  color: #FC5C7D90;
}

.mapComponentHovered {
  size: 20px;
  color: rgba(159, 0, 255, 0.56) !important;

  i{
    size: 20px;
  }
}

