.fixedMap {
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 500;

}

.map {
  border-radius: 5px;
}

.userIcon {
  color: #FC5C7D90;
  text-decoration-color: #FC5C7D90;
}

.mapComponent {
  cursor: pointer;
  color: #FC5C7D90;
}

