.carousel-element {
  background: white;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.suggestionType {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #FC5C7D90;
  color: #FC5C7D90;
}

.carousel-control-next, .carousel-control-prev {
 position: static !important;
  margin: auto;

}