* {
  box-sizing: border-box;
}

@import 'header';
@import 'listings';
@import 'map';
@import 'suggestions';
@import 'modal';

html {
  height: 100%;

}


body {
  height: 100%;
  margin: 0;
  padding-top: 80px !important;

  background: linear-gradient(10deg, #55a7e1d2, #559499cd, #55dca091), url("https://chinesenewyear.imgix.net/assets/images/food/chinese-new-year-food-feast.jpg?q=50&w=1280&h=720&fit=crop&auto=format") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



